<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <!--CSS-->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  
  <h1><%= title %></h1>
  <h1>Welcome!</h1>

  <!--Bootstrap component Test-->
  <div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">...</a>
  </div>
  <div class="alert alert-info" role="alert">
    <a href="#" class="alert-link">...</a>
  </div>
  <div class="alert alert-warning" role="alert">
    <a href="#" class="alert-link">...</a>
  </div>
  <div class="alert alert-danger" role="alert">
    <a href="#" class="alert-link">...</a>
  </div>


  <!--JAVASCRIPT-->
  <script src="jquery/dist/jquery.min.js"></script> 
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/homePage.js"></script> 
</body>
</html>