<!DOCTYPE html>
<html>
  <head>
    <title><%= proj %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= proj %></h1>
    <p>This is the page about my projects</p>
  </body>
</html>
