<!DOCTYPE html>
<html>
  <head>
    <title><%= service %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= service %></h1>
    <p>This is the page about the other skills i have</p>

    
  </body>
</html>
